#footer .footer_links {
    height: 42px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

#footer .footer_links ul {
    height: 42px;
}

#footer .footer_links ul li {
    float: left;
}

#footer .footer_links ul li a {
    display: block;
    height: 42px;
    width: 150px;
    line-height: 42px;
    text-decoration: none;
    color: #666;
}

#footer .footer_links ul li a:hover {
    color: #f30;
}

#footer .footer_info {
    height: 42px;
}

#footer .footer_info p {
    color: #999;
}

#footer .footer_info a {
    color: #999;
    text-decoration: none;
}

#footer .footer_info a:hover {
    color: #f30;
}

#footer .footer_info img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}