body {
  font-size: 12px; }

#header {
  height: 44px;
  background: #0092d8; }
  #header .logo {
    float: left; }
    #header .logo a {
      display: block;
      height: 44px;
      width: 120px;
      background: url(../img/index_service_sprite_v3.png) no-repeat -80px 0px;
      background-size: 200px 80px; }
  #header .nav_right {
    float: right; }
    #header .nav_right li {
      position: relative; }
      #header .nav_right li a i {
        position: relative;
        top: 13px;
        left: 0;
        display: block;
        width: 20px;
        height: 20px;
        background: url(../img/index_sprite.png) no-repeat; }
    #header .nav_right li:nth-child(1) a {
      display: block;
      width: 270px;
      background: #fff;
      padding: 0; }
      #header .nav_right li:nth-child(1) a i {
        float: left;
        background-position: -66px -215px;
        background-color: #fff;
        margin: 0 0 0 5px; }
      #header .nav_right li:nth-child(1) a input {
        float: right;
        height: 44px;
        width: 240px;
        border: 0;
        padding: 0; }
    #header .nav_right li:nth-child(2) a i {
      background-position: -120px -215px; }
    #header .nav_right li:nth-child(2) .shaoYiShao {
      display: none;
      position: absolute;
      top: 44px;
      left: -229px; }
    #header .nav_right li:nth-child(3) a i {
      background-position: -146px -215px; }
    #header .nav_right li:nth-child(3) .gouWuChe {
      display: none;
      width: 354px;
      height: 72px;
      background: #fff;
      position: absolute;
      right: 0px;
      top: 44px;
      border: 1px #ccc solid;
      box-shadow: 0px 0px 2px #888888;
      text-align: center; }
      #header .nav_right li:nth-child(3) .gouWuChe a {
        display: inline;
        color: #0092d8;
        padding: 0;
        line-height: 72px; }
    #header .nav_right li:nth-child(4) a {
      color: #fff; }
      #header .nav_right li:nth-child(4) a i {
        display: inline-block;
        top: 6px;
        padding: 0 2px 0 2px;
        background-position: -35px -216px; }
    #header .nav_right li:nth-child(4) .woDe {
      display: none;
      position: absolute;
      top: 44px;
      right: 5px;
      width: 289px;
      border: 1px solid #222;
      background: #fff; }
      #header .nav_right li:nth-child(4) .woDe li {
        float: none; }
        #header .nav_right li:nth-child(4) .woDe li a {
          padding: 0;
          display: block;
          width: 289px;
          height: 48px;
          color: #333;
          position: relative;
          border-bottom: 1px solid lightgray; }
          #header .nav_right li:nth-child(4) .woDe li a i {
            display: inline-block;
            position: absolute;
            top: 16px;
            left: 10px;
            width: 12px;
            height: 12px;
            background: url(../img/atom_sprite.png) no-repeat -284px -44px; }
          #header .nav_right li:nth-child(4) .woDe li a span {
            padding-left: 35px;
            font-size: 14px; }
        #header .nav_right li:nth-child(4) .woDe li a:hover {
          background: #f3f3f3; }
    #header .nav_right li:nth-child(2):hover .shaoYiShao {
      display: block; }
    #header .nav_right li:nth-child(3):hover .gouWuChe {
      display: block; }
    #header .nav_right li:nth-child(4):hover .woDe {
      display: block; }
      #header .nav_right li:nth-child(4):hover .woDe a {
        color: #333; }
  #header li {
    float: left; }
    #header li a {
      text-decoration: none;
      display: block;
      height: 44px;
      line-height: 44px;
      padding: 0 30px;
      color: #a3c3e6; }
  #header li:hover a {
    color: #fff; }

#announcement {
  height: 16px;
  background: #003b66;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 4px; }

#announcement_bottom {
  height: 40px;
  border-bottom: 1px solid black; }
  #announcement_bottom .inner {
    width: 1200px;
    margin: 0 auto; }
    #announcement_bottom .inner div {
      float: left;
      line-height: 40px;
      width: 20%;
      text-align: center; }
      #announcement_bottom .inner div i {
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url(../img/index_service_sprite_v3.png) no-repeat;
        background-size: 200px 80px;
        vertical-align: top; }

#banner .inner {
  position: relative; }
  #banner .inner .sub_nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 220px;
    height: 480px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2; }
    #banner .inner .sub_nav ul {
      padding: 16px 0; }
      #banner .inner .sub_nav ul .nav_list {
        width: 220px;
        height: 56px;
        position: relative; }
        #banner .inner .sub_nav ul .nav_list i:nth-child(1) {
          position: absolute;
          top: 14px;
          left: 21px;
          display: inline-block;
          width: 30px;
          height: 30px;
          background: url(../img/index_sprite.png) no-repeat; }
        #banner .inner .sub_nav ul .nav_list a {
          line-height: 56px;
          text-decoration: none;
          padding-left: 72px;
          color: #fff; }
          #banner .inner .sub_nav ul .nav_list a span {
            color: #f0f0f0;
            margin-left: 10px;
            opacity: .5; }
        #banner .inner .sub_nav ul .nav_list i {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-left: 2px;
          background: url(../img/index_sprite.png) no-repeat -69px -188px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list {
          display: none;
          position: absolute;
          top: -16px;
          left: 220px;
          width: 660px;
          height: 480px;
          background: #fff;
          border-top: 1px solid #f4f4f4;
          box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1); }
          #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 {
            float: left;
            width: 204px;
            height: 216px;
            padding: 24px 0px 0 16px; }
            #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 li {
              padding: 5px 0; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 li a {
                display: block;
                padding: 0;
                height: 40px;
                line-height: 40px; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 li a img {
                  width: 32px;
                  height: 32px;
                  margin-right: 16px;
                  vertical-align: middle; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 li a span {
                  color: #333;
                  opacity: 1; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 li a:hover span {
                color: #f30; }
          #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 {
            float: left;
            width: 219px;
            height: 480px;
            padding: 0;
            border-left: 1px solid #f4f4f4; }
            #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 li {
              position: relative;
              padding: 20px 0;
              box-sizing: border-box;
              border-bottom: 1px solid #f4f4f4; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 li a {
                display: block;
                height: 80px;
                line-height: 80px;
                padding-left: 0px; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 li a img {
                  float: left;
                  width: 80px;
                  height: 80px; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 li a span {
                  margin-top: 23px;
                  display: inline-block;
                  height: 40px;
                  width: 120px;
                  line-height: 16px;
                  color: #333;
                  opacity: 1; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 li a:hover span {
                color: #f30; }
          #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 {
            float: left;
            width: 220px;
            height: 480px;
            box-sizing: border-box;
            border-left: 1px solid #f4f4f4;
            padding-top: 0; }
            #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li {
              padding-top: 20px;
              height: 240px;
              text-align: center;
              box-sizing: border-box;
              border-top: 1px solid #f4f4f4; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li a {
                display: block;
                height: 240px;
                color: #333;
                padding: 0; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li a img {
                  width: 120px;
                  height: 120px; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li a p {
                  width: 220px;
                  height: 21px;
                  font-size: 14px;
                  line-height: 14px; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li a p:nth-child(3) {
                  color: #999999; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li a:hover p {
                color: #f30; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list2 {
          top: -72px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list3 {
          top: -128px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list4 {
          top: -184px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list5 {
          top: -240px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list6 {
          top: -296px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list7 {
          top: -352px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list8 {
          top: -408px; }
      #banner .inner .sub_nav ul .nav_list:hover {
        background: rgba(0, 0, 0, 0.5); }
        #banner .inner .sub_nav ul .nav_list:hover .sub_nav_list {
          display: block; }
#banner .lunbo {
  overflow: hidden; }
  #banner .lunbo .inner ul {
    position: relative;
    top: 0px;
    left: 0px;
    width: 8400px;
    height: 480px; }
    #banner .lunbo .inner ul li {
      float: left;
      width: 1200px;
      position: relative; }
      #banner .lunbo .inner ul li a {
        display: block;
        font-size: 0; }
        #banner .lunbo .inner ul li a img {
          width: 100%;
          height: 480px; }
  #banner .lunbo .inner .lt_left {
    position: absolute;
    left: 220px;
    top: 210px; }
    #banner .lunbo .inner .lt_left a {
      display: block;
      width: 60px;
      height: 60px;
      background: url(../img/index_sprite.png) no-repeat -170px -59px; }
    #banner .lunbo .inner .lt_left a:hover {
      background-position: -171px -124px; }
  #banner .lunbo .inner .gt_right {
    position: absolute;
    right: 0px;
    top: 210px; }
    #banner .lunbo .inner .gt_right a {
      display: block;
      width: 60px;
      height: 60px;
      background: url(../img/index_sprite.png) no-repeat -233px -59px; }
    #banner .lunbo .inner .gt_right a:hover {
      background-position: -234px -124px; }
#banner .banner_bottom {
  position: relative;
  z-index: 2;
  height: 200px;
  border: 1px solid #e0e0e0;
  border-top: none; }
  #banner .banner_bottom ul {
    height: 180px; }
    #banner .banner_bottom ul li {
      float: left;
      width: 298px;
      border-right: 1px solid #e0e0e0; }
      #banner .banner_bottom ul li a {
        display: block; }
        #banner .banner_bottom ul li a img {
          display: block;
          width: 200px;
          height: 180px;
          margin: 15px auto 5px; }
    #banner .banner_bottom ul li:nth-child(4) {
      border-right: 0; }

/*# sourceMappingURL=index.css.map */
